<%= render Const::STR_URL_ERROR_MESSAGES, :object => f.object %>

<div class="field">
  <%= f.label Const::STR_LABEL_NAME %><br />
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label Const::STR_LABEL_DESCRIPTION %><br />
  <%= f.text_area :descr %>
</div>
<div class="field">
  <%= f.label Const::STR_LABEL_STATUS %><br />
  <%= f.collection_select :status_id, Systype.contact_status_list,
        :id, :name %>
</div>