<h3 align="center"><%= Const::STR_LABEL_COMPANY_LIST %></h3>

<% if @companies.count > 0 %>
  <%= will_paginate %>
  <ul class="shared_list">
    <table class="details">
      <tr>
         <th><%= Const::STR_LABEL_NAME %></th>
         <th><%= Const::STR_LABEL_STATUS %></th>
         <th><%= Const::STR_LABEL_DESCRIPTION %></th>
         <th><%= Const::STR_LABEL_ACTIONS %></th>
      </tr>
      <%= render @companies %>
    </table>
  </ul>
  <%= will_paginate %>
<% else %>
  <h3 align="center"><%= Const::STR_MSG_EMPTY_COMPANY_LIST %></h3>
<% end %>

<% if privilege_granted?(@protected_class, Const::STR_PA_CREATE) %>
  <%= link_to Const::STR_ACTION_CREATE_COMPANY,
        new_company_path, :class => "new_item_button round" %>
<% end %>
